body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #c5c0c0 0%, #1f1f1f 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
  }
  #eye {
    position: absolute;
    top:26%;
    left: 38%;
    background-color: whitesmoke;
    height: 250px;
    width: 400px;
    border-radius: 65% 0;
  /*  transform: skew(-5deg);*/
    border-top: solid black 15px;
    border-left: solid black 5px;
    border-right: solid black 7px;
    border-bottom: solid black 2px;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 1%;
    
    
    
}
.container {
    width: 90%;
    margin: 20px;
    padding: 20px;
}
  
 
  
  .mangekyou {
    background: #050505;
    width: 14em;
    height: 14em;
    position: relative;
    border: 5px #000 solid;
    animation: spin 5s ease-in-out;
    left: 22%;
    top: 2%;
  }
  
  .mangekyou .point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 9.7em;
    width: 9.7em;
    background: #e41414;
     animation: shine 5s ease-in-out;
  }
  
  .mangekyou .point:nth-child(1) {
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  
  .mangekyou .point:nth-child(2) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
     transform: translate(-50%, -50%) rotate(15deg);
  }
  
  .mangekyou .point:nth-child(3) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px #000 solid;
  }
  
  .mangekyou .point:nth-child(3)::before,
  .mangekyou .point:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .mangekyou .point:nth-child(3)::before {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
  
  .mangekyou .point:nth-child(3)::after {
    transform: translate(-50%, -50%) rotate(60deg);
  }
  .sharingan .circle, .mangekyou .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  }
  
  .sharingan,
  .mangekyou,
  .tomoe,
  .circle,
  .inner-ring {
    border-radius: 50%;
  }
  
  .tomoe,
  .circle {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #000;
    z-index: 2;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
   
    100% {
      transform: rotate(2420deg);
    }
    
    
  }
  
  @keyframes shine {
    0% {
      background: #e41414;
      opacity: 0;
    }
    50% {
      background: #f03a3a;
      box-shadow: 0 0 4px 4px #f03a3a;
    }
    100% {
      box-shadow: none;
      background: #e41414;
      opacity: 1;
    }
  }
  